<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>¿No estás convencido?, mira lo que he construído!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>BabyGuide</h3>
                <p>Una aplicación de asistente para padres primerizos, 
                    elaborado utilizando tecnología .NET con el lenguaje c#. Esta aplicación es responsiva!
                </p>
                <a target="_blank" href="https://tiusr2pl.cuc-carrera-ti.ac.cr/BabyGuide/" class="green">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>App gestión de clientes de una empresa. Esta aplicación
                    fue elaborada con TkInter de python. Es una aplicación de escritorio.
                </p>
                <a href="{{ url_for('static', filename='libreta-clientes.exe') }}" class="green">Descarga aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>App de escritorio para gestionar tareas personales. Desarrollada con
                    TkInter y Python! Se ha utilizado sqlite para gestionar los datos mediante
                    CRUDS.
                </p>
                <a href="{{ url_for('static', filename='gestorTareas.exe') }}" class="green">Descarga aquí</a>
            </div>

        </div>
    </div>
</div>